.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  transition: transform $effect-duration;

  &--menu {
    background-image: url('../images/icons/icon-menu.svg');

    // &:hover {
    //   background-image: url("../images/icons/icon-menu-hover.svg");
    // }
    @include on-desktop {
      display: none;
    }
  }
  &--close {
    background-image: url('../images/icons/icon-close.svg');
  }
}
